<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
        <img class="profile" src="{{charImg}}" data-tooltip="{{charName}}" data-edit="img"/>
			<section class="header-details">
	            <h1 class="charname">
	                <input name="name" type="text" value="{{charName}}" placeholder="{{ localize 'Jarnia.Name' }}"/>
	            </h1>
	        </section>
    </header>

    <nav class="sheet-navigation tabs" data-group="primary"> 
    	<a class="item active" data-tab="attributes">{{ localize "Jarnia.Attributes" }}</a>	
    	<a class="item" data-tab="config">{{localize "Jarnia.Configuration"}}</a>	
    </nav>

    <section class="sheet-body">
    	<div class="tab attributes flexrow" data-group="primary" data-tab="attributes">	
    		<ul class="attribute flexrow">
    		{{#each charBasicAttrs as |attr|}}
    			{{debug attribute}}
    			<li class="attribute basic-attribute" data-attribute="{{attr.name}}">
    				<h4 class="attribute-name box-title rollable">{{attr.label}}</h4>
                    <div class="attribute-stats multiple">
	                    <input type="text" name="system.{{attr.name}}" value="{{attr.value}}"
	                        class="attribute-value" placeholder="0" data-dtype="Number">
						<span class="attribute-value">
                            {{attr.defense}}
                        </span>
                    </div>
                </li>
    		{{/each}}
    		</ul>
    	</div>

    	<div class="tab config flexrow" data-group="primary" data-tab="config">	
    		<h4> Nothing to see here. </h4>	
    	</div>
    </section>
</form>