<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
        <img class="profile" src="{{charImg}}" data-tooltip="{{charName}}" data-edit="img"/>
			<section class="header-details">
	            <h1 class="charname">
	                <input name="name" type="text" value="{{charName}}" placeholder="{{ localize 'Jarnia.Name' }}"/>
	            </h1>
	        </section>
    </header>

    <nav class="sheet-navigation tabs" data-group="primary"> 
    	<a class="item active" data-tab="attributes">{{ localize "Jarnia.Attributes" }}</a>	
    	<a class="item" data-tab="characteristics">Características</a>
    	<a class="item" data-tab="equips">Equipamentos</a>
    	<a class="item" data-tab="config">{{localize "Jarnia.Configuration"}}</a>	
    </nav>

    <section class="sheet-body">
    	<div class="tab attributes flexrow" data-group="primary" data-tab="attributes">	
    		<ul class="attribute flexrow">
				{{#each charBasicAttrs as |attr|}}
                    {{!debug attr}}
 					<li class="attribute basic-attribute" data-attribute="{{attr.name}}">
						<h4 class="attribute-name box-title rollable">{{attr.label}}</h4>
						<div class="attribute-stats multiple">
							<input type="text" name="system.{{attr.name}}" value="{{attr.value}}"
								class="attribute-value" placeholder="0" data-dtype="Number">
							<span class="attribute-value">
								{{attr.defense}}
							</span>
						</div>
					</li>
				{{/each}}
    		</ul>
			<ul class="status flexrow">
				{{#each charStatus as |stat|}}
					<li class="attribute basic-status" data-attribute="{{stat.name}}">
						<h4 class="attribute-name box-title rollable">{{stat.label}}</h4>
						<div class="attribute-stats multiple">
							<input type="text" name="system.{{stat.name}}" value="{{stat.value}}"
								class="attribute-value" placeholder="0" data-dtype="Number">

                            <!-- Caution: Do not fill in the `name` here,
                                 as during the submit it'll send the `statMax` value twice. -->
                            <input disabled="1" type="text" name="" value="{{stat.valueMax}}"
                                   class="attribute-max" placeholder="0" data-dtype="Number">
						</div>
					</li>
				{{/each}}
    		</ul>

            <div>
                <div>
                    <h5>Descrição</h5>
                    {{editor charDescription target="system.description" button=true editable=true}}
                </div>
            </div>

        </div>

        <div class="tab characteristics flexrow" data-group="primary" data-tab="characteristics">
            <div>
                <div>
                    <h5>Traços</h5>
                    {{editor charTraits target="system.traits" button=true editable=true}}
                </div>

                <div>
                    <h5>Perícias</h5>
                    {{editor charSkills target="system.skills" button=true editable=true}}
                </div>

                <div>
                    <h5>Vocações</h5>
                    {{editor charVocations target="system.vocations" button=true editable=true}}
                </div>

                <div>
                    <h5>Dons</h5>
                    {{editor charGifts target="system.gifts" button=true editable=true}}
                </div>
            </div>
        </div>

        <div class="tab equips flexrow" data-group="primary" data-tab="equips">
            <div class="physical-slots">
            {{#each charPhysicalSlots as |ps key|}}
            <div class="physical-slots-row">
                <input type="text" name="system.physicalSlots.{{@key}}.name" value="{{ps.name}}"
                       class="item-slot {{#if ps.stressed}}stressed{{/if}}"
                       {{#if ps.stressed}}tabindex="-1"{{/if}}
                       placeholder="" data-dtype="String">

                <input class="item-stressed" type="checkbox" name="system.physicalSlots.{{@key}}.stressed"
                       {{checked ps.stressed}}>
            </div>
            {{/each}}
            </div>
        </div>

        <div class="tab config flexrow" data-group="primary" data-tab="config">
			<ul class="status sheet-config flexrow">
				{{#each charMaxStatus as |stat|}}
					<li class="attribute basic-status" data-attribute="{{stat.name}}">
                        <h4 class="attribute-name box-title">{{stat.label}}</h5>
                        <div class="attribute-stats multiple">
                            <input type="text" name="system.{{stat.name}}" value="{{stat.value}}"
                                 class="attribute-value" placeholder="0" data-dtype="Number">
                       </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </section>
</form>
